.ball {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
#num1 {
  background-color: blue;
}
#num2 {
}
#num3 {
}
#num4 {
}
#num5 {
}
#num6 {
}
#plus {
}
#bonus_num {
}
#gen_button {
}
#num1 {
}

/* rem, em 상대적 */
/* @media query */
